@model IEnumerable<OnlineMobileShop.Entity.Mobile>

@{
    ViewBag.Title = "DisplayDetails";
}
@Html.ActionLink("Add new details", "Create")


<head>
    <style>
        #table {
            border-spacing: 20px;
            padding: 15px;
        }
    </style>
</head>


<table>
    <tr>
        <td>Brand </td>
        <td>Model </td>
        <td>Battery </td>
        <td>Price </td>
    </tr>
    @foreach (OnlineMobileShop.Entity.Mobile item in Model)
    {
        @Html.Partial("_Mobile",item)
    }
</table>
