<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Register","SignUp","User")
        @Html.ActionLink("LogIn","Login","User")
        @RenderBody()
    </div>
</body>
</html>
